

.copy-code-container {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  background: #3b3b3b;
}

.copy-code-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background-color: #616161;
  color: #e7e7e7;
  padding: 0.3em;
  border-radius: 2px;

  &::before {
    content: "Copy";
  }

  &::after {
    margin-left: 2px;
    content: "📋";
    width: 1em;
  }

  // This class will be toggled via JavaScript
  &.copied {
    &::before {
      content: "Copied!";
    }

    &::after {
      content: "✔️";
    }
  }
}


.accordion > input[name="collapse"] {
  display: none;
}

.accordion label,
.accordion .content{
  margin: 0 auto;
 }


.accordion .content {
  background: #252525;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.accordion > input[name="collapse"]:checked ~ .content {
  transition: height 0.5s;
}

.accordion label {
  display: block;

}


.accordion {
  margin-bottom: 1em;
}

.accordion > input[name="collapse"]:checked ~ .content {
  border-top: 0;
  transition: 0.3s;
}

.accordion .handle {
  margin: 0;
  font-size: 16px;

}

.accordion label {
  color: #e7e7e7;
  cursor: pointer;
  font-weight: normal;
  padding: 10px;
  background: #3b3b3b;
  user-select: none;

}

.accordion label:hover,
.accordion label:focus {
  background: #252525;
}

.accordion .handle label:before {
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  line-height: 1.556em;
  vertical-align: middle;
  transition: 0.4s;

}

.accordion > input[name="collapse"]:checked ~ .handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}


.accordion p:last-child {
  margin-bottom: 0;
}

