
<section class="accordion">

<div class="code-header">

    <h2 class="handle">
      <label>Click to expand/collapse</label>
    </h2>

    <input type="checkbox" name="collapse">

    {% if include.file %}

    <div class="code-file-name-container">
        <span class="code-file-name">{{ include.file }}</span>
    </div>

    {% endif %}

    {% unless include.copyable == false %}

    <div class="copy-code-container">
        <button class="copy-code-button"
             aria-label="Copy code block to your clipboard"
             data-code="{{ include.code | uri_escape }}"
             type="button"
        ></button>
    </div>

    {% endunless %}

</div>

<div class="content">
```{{ include.lang }}
{{ include.code }}
```
</div>

</section>

